{
    "Parameters": {
        "WEBTHINGTOKEN": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiZW1haWwiOiJtYXRzLmJlY2tlckBnbWFpbC5jb20iLCJ1cmwiOiJnaXRodWIuY29tL21iZWNrZXIiLCJpYXQiOjE1MTYyMzkwMjJ9.wTk9yTkalVpVpFK4LoUYU0Wn4Uz2WKZpLOh0WgQMADM",
        "WEBTHINGSERVERURL": "https://yourwebthingsurl.mozilla-iot.org",
        "ALEXAENDPOINTMANUFACTURERNAME": "Webthings",
        "ALEXAENDPOINTFRIENDLYNAME": "Webthing - ",
        "ALEXAENDPOINTDESCRIPTION": "Webthing - ",
        "ALEXACAPABILITYINSTANCE": "Webthing"
    }
}